-- Run this in Supabase SQL Editor to add service_fee column
ALTER TABLE admin_settings ADD COLUMN IF NOT EXISTS service_fee numeric(12,2) NOT NULL DEFAULT 300;
COMMENT ON COLUMN admin_settings.service_fee IS 'Platform service fee in Naira (default: 300)';
